html(ng-app="myApp")
    body
        <div ui-view></div>
        div This solution uses &lt;div ui-view&gt;&lt;/div&gt;
    script(src="javascripts/angular.min.js")
    script(src="javascripts/angular-ui-router.min.js")
    script.
        var app = angular.module('myApp', ['ui.router'])

        app.config(function($stateProvider, $urlRouterProvider) {
            $urlRouterProvider.otherwise('inner')

            $stateProvider.state('inner', {
                url: '/inner',
                templateUrl: 'inner'
            })
        })
