html(ng-app="myApp")
    body
        .ui-view
        div This solution uses .ui-view
    script(src="javascripts/angular.min.js")
    script(src="javascripts/angular-ui-router.min.js")
    script.
        var app = angular.module('myApp', ['ui.router'])

        app.config(function($stateProvider, $urlRouterProvider) {
            $urlRouterProvider.otherwise('inner')

            $stateProvider.state('inner', {
                url: '/inner',
                templateUrl: 'inner'
            })
        })
